<div class="container">
	<div ng-include="ajaxloader"></div>
	<div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header clearfix" data-background-color="green">
                    <h4 class="title tab-title display-line">Users</h4>
                    <button class="btn btn-default pull-right" ng-click="openUserMod()">Create User</button>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
						 	<tr>
							    <th>No.</th>
							    <th>Name</th>
							    <th>Email</th>
							    <th>Organization</th>
							    <th>Role</th>
							    <th>Status</th>
						  	</tr>
						</thead>
                        <tbody>
                            <tr ng-repeat="usrData in AllUsersData track by $index">
							    <td>
							    	<span class="text-muted">{% $index+1 %}</span>
							    </td>
							    <td>
				        			<a href="" ng-click="openUserMod(usrData)">
							    		<span class="text-muted">{% usrData.firstName %} {% usrData.lastName %}</span>
							    	</a>
							    </td>
							    <td>
							    	<span class="text-muted">{% usrData.email %}</span>
							    </td>
							    <td>
							    	<p class="text-muted">{% usrData.organization %}</p>
							    </td>
							    <td>
							    	<p class="text-muted">{% usrData.role %}</p>
							    </td>
							    <td>
							    	TODO
							    </td>

							</tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        
    </div>
</div>


<div ng-include="usrcreate_Model">
    
</div>