<link rel='stylesheet' href='/stylesheets/signup.css' />
<div class="container-fluid" ng-app="spartapps" ng-controller="adminController">
  <button ng-show="isUserform" ng-click="isUserform = !isUserform">Add Organization</button>
  <button ng-show="!isUserform" ng-click="isUserform = !isUserform">Add User</button>
	<form action="/app-admin/signup" method="post" ng-show="isUserform">
    {{error}}
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
      <label for="organization">Organization:</label>
      <input type="text" class="form-control" id="organization" name="organization">
    </div>
    <div class="form-group">
      <label for="role">User Role:</label>
      <input type="text" class="form-control" id="role" name="role">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <form action="/app-admin/orgcreate" method="post" ng-show="!isUserform">
    {{error}}
    <div class="form-group">
      <label for="orgName">Organization Name:</label>
      <input type="text" class="form-control" id="orgName" name="orgName">
    </div>
    <div class="form-group">
      <label for="ceoName">CEO Name:</label>
      <input type="text" class="form-control" id="ceoName" name="ceoName">
    </div>
    <div class="form-group">
      <label for="orgPAN">Oraganization PAN:</label>
      <input type="text" class="form-control" id="orgPAN" name="orgPAN">
    </div>
    <div class="form-group">
      <label for="numRegHead">Number of Rrgional Head:</label>
      <input type="text" class="form-control" id="numRegHead" name="numRegHead">
    </div>
    <div class="form-group">
      <label for="numFinHead">Number of Finance Head:</label>
      <input type="text" class="form-control" id="numFinHead" name="numFinHead">
    </div>
    <div class="form-group">
      <label for="numDataEntryOps">Number of Data Entrey Ops:</label>
      <input type="text" class="form-control" id="numDataEntryOps" name="numDataEntryOps">
    </div>
    <div class="form-group">
      <label for="orgAddr1">Organization Address1:</label>
      <input type="text" class="form-control" id="orgAddr1" name="orgAddr1">
    </div>
    <div class="form-group">
      <label for="orgAddr2">Organization Address2:</label>
      <input type="text" class="form-control" id="orgAddr2" name="orgAddr2">
    </div>
    <div class="form-group">
      <label for="orgCity">Organization City:</label>
      <input type="text" class="form-control" id="orgCity" name="orgCity">
    </div>
    <div class="form-group">
      <label for="orgDistrict">Organization District:</label>
      <input type="text" class="form-control" id="orgDistrict" name="orgDistrict">
    </div>
    <div class="form-group">
      <label for="orgState">Organization State:</label>
      <input type="text" class="form-control" id="orgState" name="orgState">
    </div>
    <div class="form-group">
      <label for="orgCountry">Organization Country:</label>
      <input type="text" class="form-control" id="orgCountry" name="orgCountry">
    </div>
    <div class="form-group">
      <label for="orgStatus">Organization Status:</label>
      <input type="text" class="form-control" id="orgStatus" name="orgStatus">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<script type="text/javascript" src="/javascripts/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/adminController.js"></script>