<div ng-app="spartapps" ng-controller="mainController">
<div ng-include="ajaxloader">
    
</div>

<div class="wrapper">
	

	<div ng-include="sidebar"></div>

	<div class="main-panel">
		{{> navbar}}
		<div ng-include="dashBody"></div>
	</div>
</div>

<div ng-include="status_Model">
    
</div>

</div>



<script type="text/javascript" src="/javascripts/appConstants.js"></script>
<script type="text/javascript" src="/javascripts/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/mainController.js"></script>
<script type="text/javascript" src="/javascripts/commonServices.js"></script>