<link rel='stylesheet' href='/stylesheets/dashboard.css' />

<div ng-app="spartapps" ng-controller="mainController">
<div>
	{{> navbar}}
</div>

<div ng-include="dashBody">
    
</div>

</div>


<script type="text/javascript" src="/javascripts/appConstants.js"></script>
<script type="text/javascript" src="/javascripts/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/mainController.js"></script>
<script type="text/javascript" src="/javascripts/commonServices.js"></script>