<link rel='stylesheet' href='/stylesheets/signup.css' />
<div class="container-fluid">
	<form action="/login" method="post">

    {{#if error}}
    <div class="error">{{error}}</div>
    <br/>
    {{/if}}
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
  </form>
</div>