<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/material-dashboard.css' />
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />

    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/font-roboto.css" rel="stylesheet">
 
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/material.min.js"></script>

    <!--<script type="text/javascript" src="/javascripts/chartist.min.js"></script> -->
    <script type="text/javascript" src="/javascripts/bootstrap-notify.js"></script>
    
    <script type="text/javascript" src="/javascripts/material-dashboard.js"></script>


  </head>
  <body>
    {{{body}}}
  </body>
</html>
