<!-- Modal -->
<div id="myFinanceModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Pre Payment</h4>

        <div class="pull-right" >
          <!-- <button class="btn btn-success" ng-click="copyAndCreateNewPO()" ng-show="isReadOnly">Copy & Creat New PO</button> -->
          <span ng-if="payFormData.pay_status[ getStatusIndex(payFormData.pay_status) ].status.indexOf('pending') > -1 && isReadOnly">
            <button class="btn btn-default" ng-click="openStatusModel('pay_req' , payFormData , 'Accept')">Approve</button>
            <button class="btn btn-danger" ng-click="openStatusModel('pay_req' , payFormData , 'Decline')">Decline</button>
          </span>
        </div>

        <hr/>
      </div>
      <form name="prePaymentForm" ng-submit="prePaymentCreate()" enctype="multipart/form-data">
        <div class="modal-body">
            <table class="table table-bordered">
              <tbody>

                <tr ng-hide="!isReadOnly">
                  <th colspan="4">Trail</th>
                </tr>

                 <tr ng-hide="!isReadOnly">
                  <td colspan="6">

                    <div class="row">
                      
                      <div class="col-md-1 trackList" ng-repeat="itm in payReqTrail track by $index">
                        <a href="#" class="thumbnail text-center bottom-zero" title="{% itm.UserName %} | {% itm.role %} | {% itm.status_changeDate | date:'dd/MM/yyyy' %}">
                          <div class="badge bg-info">{% $index+1 %}</div>
                          <div >{% itm.status %}</div>
                        </a>

                      </div>

                    </div>

                  </td>

                </tr>

                <tr>
                  <th colspan="6">Information on Payment Intimation</th>
                </tr>

                <tr>
                  <td>PI</td>
                  <td colspan="5">
                    <select ng-options="item as item.inv_no for item in invoiceList" ng-model="piModel" required ng-change="PiChngUpdate(this,'finance')" class="form-control" ng-disabled="isReadOnly">
                      <option value="">--select supplier--</option>
                    </select>
                  </td>
                </tr>

                <tr>
                  <td>PO Number</td>
                  <td>
                    {% piModel.PO_number %}
                  </td>

                  <td>PO Amount</td>
                  <td>
                    {% piModel.amount %}
                  </td>

                  <td>Supplier No.</td>
                  <td>
                    {% piModel.supplier_name %}
                  </td>
                </tr>

                <tr>
                  <td>TDS Rate</td>
                  <td>
                    <input type="number" class="form-control" name="TDS_rate" ng-model="payFormData.product_information.TDS_rate" ng-disabled="isReadOnly" placeholder="Enter TDS Rate" ng-change="calculatePayReqAmount()" >
                  </td>
                
                  <td>TDS Amount</td>
                  <td>
                    <input type="number" class="form-control" name="TDS_amount" ng-model="payFormData.product_information.TDS_amount" ng-disabled="isReadOnly" placeholder="Enter TDS Amount" ng-change="calculatePayReqAmount()" >
                  </td>
                
                  <td>PF Amount</td>
                  <td>
                    <input type="number" class="form-control" name="PF_amount" ng-model="payFormData.product_information.PF_amount" ng-disabled="isReadOnly" placeholder="Enter PF Amount" ng-change="calculatePayReqAmount()" >
                  </td>
                </tr>

                <tr>
                  <td>ESIC Amount</td>
                  <td>
                    <input type="number" class="form-control" name="ECIS_amount" ng-model="payFormData.product_information.ECIS_amount" ng-disabled="isReadOnly" placeholder="Enter ESIC Amount" ng-change="calculatePayReqAmount()" >
                  </td>

                  <td>PT Amount</td>
                  <td>
                    <input type="number" class="form-control" name="PT_amount" ng-model="payFormData.product_information.PT_amount" ng-disabled="isReadOnly" placeholder="Enter PT Amount" ng-change="calculatePayReqAmount()" >
                  </td>

                  <td>Loan EMI</td>
                  <td>
                    <input type="text" class="form-control" name="LoanEMI" ng-model="payFormData.product_information.LoanEMI" placeholder="Enter Loan EMI">
                  </td>
                </tr>

                <tr>
                  <td>Other Deduction Name</td>
                  <td>
                    <input type="text" class="form-control" name="otherDeductionType" ng-model="payFormData.product_information.otherDeductionType" ng-disabled="isReadOnly" placeholder="Enter Deduction Name" ng-change="calculatePayReqAmount()" >
                  </td>

                  <td>Other Deduction Amount</td>
                  <td>
                    <input type="number" class="form-control" name="otherDeductionAmount" ng-model="payFormData.product_information.otherDeductionAmount" ng-disabled="isReadOnly" placeholder="Enter Other Deduction Amount" ng-change="calculatePayReqAmount()" >
                  </td>

                  <td>Net Amount</td>
                  <td>
                    <input type="text" class="form-control" name="netAmount" ng-model="payFormData.product_information.netAmount" disabled placeholder="Enter Net Amount">
                  </td>
                </tr>

                <tr>
                  <td colspan="6"></td>
                </tr>
                <tr>
                  <th colspan="6">Audit Selection</th>
                </tr>
                <tr>
                  <td>Division</td>
                  <td colspan="2">
                    <select ng-options="item as item for item in orgDivision" ng-model="divisonModel" required ng-change="divisonChngUpdate(this, 'finance')" class="form-control" ng-disabled="isReadOnly">
                      <option value="">--select divison--</option>
                    </select>
                  </td>
                  <td>Audit by</td>
                  <td colspan="2">
                    <select ng-options="item as (item.firstName +' '+ item.lastName + ', ' + item.role) for item in internalAuditUsers" ng-model="selectedByUser" required ng-change="selectedByChngUpdate(this , 'finance')" class="form-control" ng-disabled="isReadOnly">
                      <option value="">--select User--</option>
                    </select>
                  </td>
                </tr>

                <tr>
                  <th colspan="6">Documents to be attached</th>
                </tr>
                <tr>
                  <td>Other Documents</td>
                  <td colspan="5">
                    <input class="form-control" type="file" name="PO_attachment" onchange="angular.element(this).scope().setFiles(this , 'other_doc')" ng-hide="isReadOnly">

                    <a ng-href="/upload/{% payFormData.doc_attachment.other_doc %}" ng-show="isReadOnly" target="_blank">{% payFormData.doc_attachment.other_doc %}</a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" ng-hide="isReadOnly">Submit</button>
        </div>

      </form>
    </div>

  </div>
</div>