<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header clearfix" data-background-color="green">
                    <h4 class="title tab-title display-line">Finance</h4>
                	<!-- <div class="display-line">

	                    <form class="navbar-form" role="search" ng-submit="searchTab( this,'invoice')" enctype="multipart/form-data">
							<div class="form-group  is-empty">
								<select ng-options="key as value for  (key , value) in searchAttr" ng-model="searchModel" required ng-change="searchAttrChange(this,'invoice')" class="form-control">
			                      <option value="">--select attribute--</option>
			                    </select>

								<input type="text" class="form-control" placeholder="Search" ng-model="searchText" required>
								<span class="material-input"  ></span>
							<span class="material-input"></span></div>
							<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
							<button type="reset" class="btn btn-white btn-round btn-just-icon" ng-click="resetSearch()">
								<i class="material-icons dp48">restore</i><div class="ripple-container"></div>
							</button>

							
						</form>

                	</div> -->
				  	<button ng-if="permissions.CreateInvoiceReq" class="btn btn-default pull-right" ng-click="openPrePayment()">Create Pre Payment</button>
                </div>
                <div class="card-content table-responsive clearfix">
                    <table class="table" ng-if="payReqList.length > 0">
                        <thead class="text-primary">
						 	<tr>
							    <th>No.</th>
							    <th>Audit No.</th>
							    <th>PI No.</th>
							    <th>PO No.</th>
							    <th>User</th>
							    <th>Date</th>
							    <th>Status</th>
						  	</tr>
						</thead>
                        <tbody>
                            <tr ng-repeat="payData in payReqList track by $index">
							    <td>
							    	<span class="text-muted">{% $index+1 %}</span>
							    </td>
							    <td>
				        			<a href="#" ng-click="openPurchaseOrd(payData)">
							    		<span class="text-muted">{% payData.PayReq_number %}</span>
							    	</a>
							    </td>
							    <td>
							    	<span class="text-muted">{% payData.product_information.PI_number %}</span>
							    </td>
							    <td>
							    	<span class="text-muted">{% payData.product_information.PO_number %}</span>
							    </td>
							    <td>
							    	<p class="text-muted">{% payData.userName %}</p>
							    </td>
							    <td>
							    	<p class="text-muted">{% payData.create_date | date:'dd/MM/yyyy' %}</p>
							    </td>
							    <td>
							    	<a ng-hide="payData.pay_status.status_changedBy && payData.pay_status.status_changeDate" href="#" ng-click="openStatusModel('purchaseOrd' , payData)">
							    		<span class="text-danger">{% payData.pay_status.status %}</span>
							    	</a>
							    	<span ng-show="payData.pay_status.status_changedBy && payData.pay_status.status_changeDate" class="text-success">{% payData.pay_status.status %}</span>
							    </td>

							</tr>
                        </tbody>
                    </table>

                    <div ng-if="payReqList.length == 0">
                    	No Records found.!!
                    </div>

                </div>
            </div>
        </div>

        
    </div>
        
</div>


<div ng-include="finance_Model">
    
</div>