<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header clearfix" data-background-color="green">
                    <h4 class="title tab-title display-line">Reports</h4>
                	<!-- <div class="display-line">

	                    <form class="navbar-form" role="search" ng-submit="searchTab( this,'invoice')" enctype="multipart/form-data">
							<div class="form-group  is-empty">
								<select ng-options="key as value for  (key , value) in searchAttr" ng-model="searchModel" required ng-change="searchAttrChange(this,'invoice')" class="form-control">
			                      <option value="">--select attribute--</option>
			                    </select>

								<input type="text" class="form-control" placeholder="Search" ng-model="searchText" required>
								<span class="material-input"  ></span>
							<span class="material-input"></span></div>
							<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
							<button type="reset" class="btn btn-white btn-round btn-just-icon" ng-click="resetSearch()">
								<i class="material-icons dp48">restore</i><div class="ripple-container"></div>
							</button>

							
						</form>

                	</div> -->
				  	
                </div>
                <div class="card-content table-responsive clearfix">

                	<button class="btn btn-default" ng-click="downloadReports()">Purchase Orders</button>

                </div>
            </div>
        </div>

        
    </div>
        
</div>