body, html {
    background-color: #89b8ce;
}

.modal label{
	font-size: 14px;
	font-weight: 600;
}

.modal .row div:not(.trackList *){
	padding: 0px;
	margin-left: 40px;
}

.col-md-2 {
    width: 13.666667%;
}

.modal-lg .modal-dialog{
	width: 99%;
    margin: 0.5%;
}

div#ajaxLoader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1050;
}

img.ajax-loader-img {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 5%;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-title{
    display: inline;
}

.pull-right{
    margin-right: 60px;
    margin-top: -15px;
}

.tab-title{
    width: 200px;
}

.display-line{
    display: inline-block;
}

.card .card-header{
    padding: 10px;
}

.navbar-form {
    margin-bottom: 0px;
    margin-top: 0px;
}

.form-group {
    padding-bottom: 7px;
    margin: 13px 0 0 0;
}

.is-focused select.form-control{
    color: grey;
}

.bottom-zero {
    margin-bottom: 0px;
}