body, html {
  /*  background-color: #89b8ce;*/
}

.modal label{
	font-size: 14px;
	font-weight: 600;
}

.modal .row div:not(.trackList *){
	padding: 0px;
	margin-left: 40px;
}

.col-md-2 {
    width: 13.666667%;
}

.modal-lg .modal-dialog{
	width: 99%;
    margin: 0.5%;
}

div#ajaxLoader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1050;
}

img.ajax-loader-img {
    position: absolute;
    top: 45%;
    left:48%;
    width: 5%;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-title{
    display: inline;
}

.pull-right{
    margin-right: 60px;
    margin-top: -15px;
}

.tab-title{
    width: 200px;
}

.display-line{
    display: inline-block;
}

.card .card-header{
   padding: 10px 10px 5px 10px;}

.navbar-form {
    margin-bottom: 0px;
    margin-top: 0px;
}

.form-group {
    padding-bottom: 7px;
    margin: 13px 0 0 0;
}

.is-focused select.form-control{
    color: grey;
}

.bottom-zero {
    margin-bottom: 0px;
}
.logo .navbar-brand{
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
   text-shadow: 0px 0px 1px #8a8a8a;
    color: #4ab2f5;
}
.card [data-background-color="green"] {
 background: linear-gradient(60deg, #75c9ff, #5bbeff);
    box-shadow: 0 12px 20px -10px rgb(230, 230, 230), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
  box-shadow: 0 12px 20px -10px rgb(230, 230, 230), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.sidebar[data-color="green"] .nav li.active a, #navbar li.active a, .off-canvas-sidebar[data-color="green"] .nav li.active a {
    background-color: #49b1f5;
    box-shadow: 0 12px 20px -10px rgb(210, 234, 249), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.text-primary {
    color: #428bca;
}
.card-header .form-control {
color: #656565;
}
.sidebar[data-color="green"] .nav li.active a, #navbar li.active a, .off-canvas-sidebar[data-color="green"] .nav li.active a {
    background-color: #5cbeff;
    box-shadow: none;
}

.card-header .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.card-header .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.card-header .form-control:-ms-input-placeholder { /* IE 10+ */
  color:#fff;
}
.card-header .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.sidebar .nav i, .off-canvas-sidebar .nav i {
    font-size: 20px;
    float: left;
    margin-right: 5px;
    line-height:20px;  
    width: auto; 
    text-align: center;
    color: #a9afbb;
}

.btn.btn-just-icon, .navbar .navbar-nav > li > a.btn.btn-just-icon {   
    padding: 7px 7px;}
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 8px;}
    .text-muted {
    color: #656565;
}
.form-group.is-focused .form-control {     
    background-image: linear-gradient(#74c9ff, #74c9ff), linear-gradient(#74c9ff, #5cbeff);}
    
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus, .navbar .dropdown-menu li a:active, .navbar.navbar-default .dropdown-menu li a:hover, .navbar.navbar-default .dropdown-menu li a:focus, .navbar.navbar-default .dropdown-menu li a:active {
    background-color: #73c8ff;
box-shadow: none;
}

.close {  
    font-size: 21px !important;}
