<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header clearfix" data-background-color="green">
                    <h4 class="title tab-title display-line">Payment Intimation</h4>
                	<div class="display-line">

	                    <form class="navbar-form" role="search" ng-submit="searchTab( this,'invoice')" enctype="multipart/form-data">
							<div class="form-group  is-empty">
								<select ng-options="key as value for  (key , value) in searchAttr" ng-model="searchModel" required ng-change="searchAttrChange(this,'invoice')" class="form-control">
			                      <option value="">--select attribute--</option>
			                    </select>

								<input type="text" class="form-control" placeholder="Search" ng-model="searchText" required>
								<span class="material-input"  ></span>
							<span class="material-input"></span></div>
							<button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
							<button type="reset" class="btn btn-white btn-round btn-just-icon" ng-click="resetSearch()">
								<i class="material-icons dp48">restore</i><div class="ripple-container"></div>
							</button>

							
						</form>

                	</div>
				  	<button ng-if="permissions.CreateInvoiceReq" class="btn btn-default pull-right" ng-click="openInvoice()">Create Payment Intimation</button>
                </div>
                <div class="card-content table-responsive clearfix">
                    <table class="table">
                        <thead class="text-primary">
						  <tr>
						    <th>No.</th>
						    <th>Supplier Name</th>
						    <th>PO No.</th>
						    <th>Bill No.</th>
						    <th>User</th>
						    <th>Date</th>
						    <th>Status</th>
						    <th>Rate</th>
						  </tr>
						</thead>
                        <tbody>
                            <tr ng-repeat="invoiceData in invoiceList track by $index">
							    <td>
							    	<span class="text-muted">{% $index+1 %}</span>
							    </td>
							    <td>
							    	<a href="#" ng-click="openInvoice(invoiceData)">
							    		<span class="text-muted">{% invoiceData.supplier_name %}</span>
							    	</a>
							    </td>
							    <td>
							    	<span class="text-muted">{% invoiceData.PO_number %}</span>
							    </td>
							    <td>
							    	<p class="text-muted">{% invoiceData.bill_number %}</p>
							    </td>
							    <td>
							    	<p class="text-muted">{% invoiceData.userName %}</p>
							    </td>
							    <td>
							    	<p class="text-muted">{% invoiceData.create_date | date:'dd/MM/yyyy' %}</p>
							    </td>
							    <td>
							    	<a ng-hide="invoiceData.iv_status.status_changedBy && invoiceData.iv_status.status_changeDate" href="#" ng-click="openStatusModel('invoice' , invoiceData)">
							    		<span class="text-danger">{% invoiceData.iv_status.status %}</span>
							    	</a>
							    	<span ng-show="invoiceData.iv_status.status_changedBy && invoiceData.iv_status.status_changeDate" class="text-success">{% invoiceData.iv_status.status %}</span>
							    </td>
							    <td>
							    	<p class="text-muted">{% invoiceData.Rate %}</p>
							    </td>
							</tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        
    </div>
        
</div>


<div ng-include="invoice_Model">
    
</div>