<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="green">
                    <h4 class="title">Invoices</h4>
				  		<button ng-if="permissions.CreateInvoiceReq" class="btn btn-default pull-right" ng-click="openInvoice()">Create Invoice</button>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
						  <tr>
						    <th>No.</th>
						    <th>Supplier Name</th>
						    <th>PO No.</th>
						    <th>Bill No.</th>
						    <th>User</th>
						    <th>Date</th>
						    <th>Status</th>
						    <th>Rate</th>
						  </tr>
						</thead>
                        <tbody>
                            <tr ng-repeat="invoiceData in invoiceList track by $index">
							    <td>
							    	<span class="text-muted">{% $index+1 %}</span>
							    </td>
							    <td>
							    	<a href="#" ng-click="openInvoice(invoiceData)">
							    		<span class="text-muted">{% invoiceData.supplier_name %}</span>
							    	</a>
							    </td>
							    <td>
							    	<span class="text-muted">{% invoiceData.PO_number %}</span>
							    </td>
							    <td>
							    	<p class="text-muted">{% invoiceData.bill_number %}</p>
							    </td>
							    <td>
							    	<p class="text-muted">{% invoiceData.userName %}</p>
							    </td>
							    <td>
							    	<p class="text-muted">{% invoiceData.create_date | date:'dd/MM/yyyy' %}</p>
							    </td>
							    <td>
							    	<a ng-hide="invoiceData.iv_status.status_changedBy && invoiceData.iv_status.status_changeDate" href="#" ng-click="openStatusModel('invoice' , invoiceData)">
							    		<span class="text-danger">{% invoiceData.iv_status.status %}</span>
							    	</a>
							    	<span ng-show="invoiceData.iv_status.status_changedBy && invoiceData.iv_status.status_changeDate" class="text-success">{% invoiceData.iv_status.status %}</span>
							    </td>
							    <td>
							    	<p class="text-muted">{% invoiceData.Rate %}</p>
							    </td>
							</tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        
    </div>
        
</div>


<div ng-include="invoice_Model">
    
</div>