<!-- Modal -->
<div id="myInvoiceModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Invoice</h4>
        <div class="pull-right" ng-if="invoiceFormData.iv_status.status == 'pending'">
          <button class="btn btn-default" ng-click="openStatusModel('invoice' , invoiceFormData , 'Accept')">Approve</button>
          <button class="btn btn-danger" ng-click="openStatusModel('invoice' , invoiceFormData , 'Decline')">Decline</button>
        </div>
        <hr/>
      </div>
      <form name="invoiceForm" ng-submit="InvoiceCreate()" enctype="multipart/form-data">
        <div class="modal-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>Name of Supplier</td>
                  <td colspan="5">
                    <select ng-options="item as ( item.supplier_no +' -- '+ item.supplier_name_address.supplier_name) for item in supplierForInvoice" ng-model="suppModel" required ng-change="suppChngUpdate(this,'invoice')" class="form-control" ng-disabled="isReadOnly">
                      <option value="">--select supplier--</option>
                    </select>
                  </td>
                </tr>
                
                <tr>
                  <td></td>
                  <td colspan="5">
                    <label>
                      <input type="radio" ng-model="invoiceFormData.isExpense" value="false" ng-disabled="isReadOnly">
                      with PO
                    </label> &nbsp;&nbsp;&nbsp;
                    <label>
                      <input type="radio" ng-model="invoiceFormData.isExpense" value="true" ng-disabled="isReadOnly">
                      without PO
                    </label>
                  </td>
                </tr>

                <tr ng-if="invoiceFormData.isExpense == 'false'">
                  <td>PO No</td>
                  <td colspan="5">
                    <select ng-options="item as item.PO_number for item in allActivePOs" ng-model="ddPoModel" required ng-change="invPoChngUpdate(this,'invoice')" class="form-control" ng-disabled="isReadOnly">
                      <option value="">--select po--</option>
                    </select>
                  </td>
                </tr>

                <tr ng-show="false">
                  <td>Expense</td>
                  <td colspan="5">
                    <input type="text" class="form-control" name="address2" ng-model="invoiceFormData.expAmount" placeholder="Enter Bill number" ng-disabled="isReadOnly">
                  </td>
                </tr>

                <tr>
                  <td>Bill No</td>
                  <td colspan="5">
                    <input type="text" class="form-control" name="address2" ng-model="invoiceFormData.bill_number" placeholder="Enter Bill number" ng-disabled="isReadOnly">
                  </td>
                </tr>
                <tr>
                  <td>Nature of Product</td>
                  <td>
                    <input type="text" class="form-control" name="address3" ng-model="invoiceFormData.Product_Nature" placeholder="Enter Nature of product" ng-disabled="isReadOnly">
                  </td>
                
                  <td>HSN Code</td>
                  <td>
                    <input type="text" class="form-control" name="area" ng-model="invoiceFormData.HSN_Code" placeholder="Enter HSN code" ng-disabled="isReadOnly">
                  </td>
                  
                  <td>Payment Due Date</td>
                  <td>
                    <input type="text" class="form-control" name="state" ng-model="invoiceFormData.Payment_due_date" placeholder="Enter due date" ng-disabled="isReadOnly">
                  </td>
                </tr>
                 <tr>
                  <td>Rate</td>
                  <td>
                    <input type="number" class="form-control" name="district" ng-model="invoiceFormData.Rate" placeholder="Rate" disabled required ng-change="calculateInvAmount()">
                  </td>

                  <td>Add. Rate</td>
                  <td>
                    <input type="number" class="form-control" name="city" ng-model="invoiceFormData.additionalRate" placeholder="Enter Additional Rate" ng-disabled="isReadOnly" required ng-change="calculateInvAmount()">
                  </td>

                  <td>Quantity</td>
                  <td>
                    <input type="number" class="form-control" name="city" ng-model="invoiceFormData.Quantity" placeholder="Enter Quantity" ng-disabled="isReadOnly" required ng-change="calculateInvAmount()">
                  </td>
                </tr>

                <tr>
                  <td>VAT</td>
                  <td>
                    <input type="number" class="form-control" name="VAT" ng-model="invoiceFormData.VAT" ng-disabled="isReadOnly" placeholder="Enter VAT" ng-change="calculateInvAmount()" >
                  </td>
                
                  <td>CST</td>
                  <td>
                    <input type="number" class="form-control" name="CST" ng-model="invoiceFormData.CST" ng-disabled="isReadOnly" placeholder="Enter CST" ng-change="calculateInvAmount()" >
                  </td>
                  <td>GST</td>
                  <td>
                    <input type="number" class="form-control" name="GST" ng-model="invoiceFormData.GST" ng-disabled="isReadOnly" placeholder="Enter GST" ng-change="calculateInvAmount()" >
                  </td>
                </tr>

                <tr>
                  <td>Service Tax</td>
                  <td>
                    <input type="number" class="form-control" name="service_tax" ng-model="invoiceFormData.service_tax" ng-disabled="isReadOnly" placeholder="Enter Service Tax" ng-change="calculateInvAmount()" >
                  </td>

                  <td>Excise</td>
                  <td>
                    <input type="number" class="form-control" name="excise" ng-model="invoiceFormData.excise" ng-disabled="isReadOnly" placeholder="Enter Excise" ng-change="calculateInvAmount()" >
                  </td>

                  <td>Amount</td>
                  <td>
                    <input type="text" class="form-control" name="amount" ng-model="invoiceFormData.amount" disabled placeholder="Enter Amount">
                  </td>
                </tr>

                <tr>
                  <th colspan="6">Vendor Selection</th>
                </tr>
                <tr>
                  <td>Division</td>
                  <td colspan="2">
                    <select ng-options="item as item for item in orgDivision" ng-model="divisonModel" required ng-change="divisonChngUpdate(this, 'invoice')" class="form-control" ng-disabled="isReadOnly">
                      <option value="">--select divison--</option>
                    </select>
                  </td>
                  <td>Approver</td>
                  <td colspan="2">
                    <select ng-options="item as (item.firstName +' '+ item.lastName + ', ' + item.role) for item in notifyUser" ng-model="selectedByUser" required ng-change="selectedByChngUpdate(this , 'invoice')" class="form-control" ng-disabled="isReadOnly">
                      <option value="">--select User--</option>
                    </select>
                  </td>
                </tr>
                 
                <tr>
                  <th colspan="6">Documents to be attached</th>
                </tr>
                <tr>
                  <td>Invoice</td>
                  <td colspan="5">
                    <input class="form-control" type="file" name="invoice_attachment" onchange="angular.element(this).scope().setFiles(this , 'invoice')" ng-hide="isReadOnly">

                    <a ng-href="/upload/{% invoiceFormData.doc_attachment.invoice %}" ng-show="isReadOnly" target="_blank">{% invoiceFormData.doc_attachment.invoice %}</a>
                  </td>
                </tr>
                <tr>
                  <td>PO</td>
                  <td colspan="5">
                    <input class="form-control" type="file" name="PO_attachment" onchange="angular.element(this).scope().setFiles(this , 'PO')" ng-hide="isReadOnly">

                    <a ng-href="/upload/{% invoiceFormData.doc_attachment.PO %}" ng-show="isReadOnly" target="_blank">{% invoiceFormData.doc_attachment.PO %}</a>
                  </td>
                </tr>
                <tr>
                  <td>Other Documents</td>
                  <td colspan="5">
                    <input class="form-control" type="file" name="PO_attachment" onchange="angular.element(this).scope().setFiles(this , 'other_doc')" ng-hide="isReadOnly">

                    <a ng-href="/upload/{% invoiceFormData.doc_attachment.other_doc %}" ng-show="isReadOnly" target="_blank">{% invoiceFormData.doc_attachment.other_doc %}</a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" ng-hide="isReadOnly">Submit</button>
        </div>

      </form>
    </div>

  </div>
</div>