<!-- Modal -->
<div id="mySuppModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Supplier</h4>
      </div>
      <form name="supplierForm" ng-submit="supplierCreate()">
        <div class="modal-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="4">Name and Address</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Name of Supplier</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="supplier_name" ng-model="supplierFormData.supplier_name_address.supplier_name">
                  </td>
                </tr>
                <tr>
                  <td>Address1</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="address1" ng-model="supplierFormData.supplier_name_address.address1">
                  </td>
                </tr>
                <tr>
                  <td>Address2</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="address2" ng-model="supplierFormData.supplier_name_address.address2">
                  </td>
                </tr>
                <tr>
                  <td>Address3</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="address3" ng-model="supplierFormData.supplier_name_address.address3">
                  </td>
                </tr>
                <tr>
                  <td>Area</td>
                  <td>
                    <input type="text" class="form-control" name="area" ng-model="supplierFormData.supplier_name_address.area">
                  </td>
                  <td>City</td>
                  <td>
                    <input type="text" class="form-control" name="city" ng-model="supplierFormData.supplier_name_address.city">
                  </td>
                </tr>
                 <tr>
                  <td>District</td>
                  <td>
                    <input type="text" class="form-control" name="district" ng-model="supplierFormData.supplier_name_address.district">
                  </td>
                  <td>State</td>
                  <td>
                    <input type="text" class="form-control" name="state" ng-model="supplierFormData.supplier_name_address.state">
                  </td>
                </tr>
                 <tr>
                  <td>Pin</td>
                  <td>
                    <input type="text" class="form-control" name="pin" ng-model="supplierFormData.supplier_name_address.pin">
                  </td>
                  <td>Country</td>
                  <td>
                    <input type="text" class="form-control" name="country" ng-model="supplierFormData.supplier_name_address.country">
                  </td>
                </tr>
                <tr>
                  <td>Country Code</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="country_code" ng-model="supplierFormData.supplier_name_address.country_code">
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th colspan="2">Contact Person</th>
                  <th colspan="2">Statutory Information</th>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>
                    <input type="text" class="form-control" name="contact_person_name" ng-model="supplierFormData.contact_person.name">
                  </td>
                  <td>PAN</td>
                  <td>
                    <input type="text" class="form-control" name="pan" ng-model="supplierFormData.statutory_information.PAN">
                  </td>
                </tr>
                <tr>
                  <td>Cell No</td>
                  <td>
                    <input type="text" class="form-control" name="cell_no" ng-model="supplierFormData.contact_person.cell_no">
                  </td>
                  <td>TAN</td>
                  <td>
                    <input type="text" class="form-control" name="TAN" ng-model="supplierFormData.statutory_information.TAN">
                  </td>
                </tr>
                <tr>
                  <td>Land Line No</td>
                  <td>
                    <input type="text" class="form-control" name="landline_no" ng-model="supplierFormData.contact_person.landline_no">
                  </td>
                  <td>CST</td>
                  <td>
                    <input type="text" class="form-control" name="CST" ng-model="supplierFormData.statutory_information.CST">
                  </td>
                </tr>
                <tr>
                  <td>E-Mail</td>
                  <td>
                    <input type="text" class="form-control" name="email" ng-model="supplierFormData.contact_person.email">
                  </td>
                  <td>GST</td>
                  <td>
                    <input type="text" class="form-control" name="GST" ng-model="supplierFormData.statutory_information.GST">
                  </td>
                </tr>
                <tr>
                  <td>Fax</td>
                  <td>
                    <input type="text" class="form-control" name="fax" ng-model="supplierFormData.contact_person.fax">
                  </td>
                  <td>TIN</td>
                  <td>
                    <input type="text" class="form-control" name="TIN" ng-model="supplierFormData.statutory_information.TIN">
                  </td>
                </tr>
                <tr>
                  <td>Webiste</td>
                  <td>
                    <input type="text" class="form-control" name="website" ng-model="supplierFormData.contact_person.website">
                  </td>
                  <td>Service Tax No</td>
                  <td>
                    <input type="text" class="form-control" name="service_tax_no" ng-model="supplierFormData.statutory_information.service_tax_no">
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th colspan="4">Information on Product</th>
                </tr>
                <tr>
                  <td>Name of Product</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="product_name" ng-model="supplierFormData.product_information.product_name">
                  </td>
                </tr>
                <tr>
                  <td>Discreption of Product</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="product_discreption" ng-model="supplierFormData.product_information.product_discreption">
                  </td>
                </tr>
                <tr>
                  <td>HSN Code</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="HSN_code" ng-model="supplierFormData.product_information.HSN_code">
                  </td>
                </tr>
                <tr>
                  <td>Quantity</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="quantity" ng-model="supplierFormData.product_information.quantity">
                  </td>
                </tr>
                <tr>
                  <td>Rate</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="rate" ng-model="supplierFormData.product_information.rate">
                  </td>
                </tr>
                <tr>
                  <td>Amount</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="amount" ng-model="supplierFormData.product_information.amount">
                  </td>
                </tr>
                <tr>
                  <td>Payment Terms</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="payment_terms" ng-model="supplierFormData.product_information.payment_terms">
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th colspan="4">Banking Details</th>
                </tr>
                <tr>
                  <td>Name of Bank</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="bank_name" ng-model="supplierFormData.banking_details.bank_name">
                  </td>
                </tr>
                <tr>
                  <td>Account No</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="account_No" ng-model="supplierFormData.banking_details.account_No">
                  </td>
                </tr>
                <tr>
                  <td>IFSC Code</td>
                  <td>
                    <input type="text" class="form-control" name="IFSC_code" ng-model="supplierFormData.banking_details.IFSC_code">
                  </td>
                  <td>MICR Code</td>
                  <td>
                    <input type="text" class="form-control" name="MICR_code" ng-model="supplierFormData.banking_details.MICR_code">
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th colspan="4">Vendor Selection</th>
                </tr>
                <tr>
                  <td>Suggested by</td>
                  <td>
                    <input type="text" class="form-control" name="suggested_by" ng-model="supplierFormData.vendor_selection.suggested_by">
                  </td>
                  <td>Shortlisted by</td>
                  <td>
                    <input type="text" class="form-control" name="shortlisted_by" ng-model="supplierFormData.vendor_selection.shortlisted_by">
                  </td>
                </tr>
                <tr>
                  <td>Selected by</td>
                  <td>
                    <input type="text" class="form-control" name="selected_by" ng-model="supplierFormData.vendor_selection.selected_by">
                  </td>
                  <td>Division</td>
                  <td>
                    <input type="text" class="form-control" name="division" ng-model="supplierFormData.vendor_selection.division">
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th colspan="4">Budgets and Approvals</th>
                </tr>
                <tr>
                  <td>Location</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="location" ng-model="supplierFormData.budgets_and_approvals.location">
                  </td>
                </tr>
                <tr>
                  <td>Budget Head</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="budget_head" ng-model="supplierFormData.budgets_and_approvals.budget_head">
                  </td>
                </tr>
                <tr>
                  <td>Period</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="period" ng-model="supplierFormData.budgets_and_approvals.period">
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th>Customer Reference</th>
                  <th>Name</th>
                  <th>Number</th>
                  <th>Opinion</th>
                </tr>
                <tr>
                  <td>Customer References 1</td>
                  <td>
                    <input type="text" class="form-control" name="customer_reference_Name" ng-model="supplierFormData.customer_reference.Name">
                  </td>
                  <td>
                    <input type="text" class="form-control" name="customer_reference_Number" ng-model="supplierFormData.customer_reference.Number">
                  </td>
                  <td>
                    <input type="text" class="form-control" name="customer_reference_Opinion" ng-model="supplierFormData.customer_reference.Opinion">
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th colspan="4">Documents to be attached</th>
                </tr>
                <tr>
                  <td>Statutory Registration Certificates</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="statutory_registration_certificates" ng-model="supplierFormData.doc_attachment.statutory_registration_certificates">
                  </td>
                </tr>
                <tr>
                  <td>Cancelled Cheque</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="cancelled_cheque" ng-model="supplierFormData.doc_attachment.cancelled_cheque">
                  </td>
                </tr>
                <tr>
                  <td>Quotation</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="quotation" ng-model="supplierFormData.doc_attachment.quotation">
                  </td>
                </tr>
                <tr>
                  <td>Agreements if any</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="agreements" ng-model="supplierFormData.doc_attachment.agreements">
                  </td>
                </tr>
                <tr>
                  <td>Vendor Profile</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="vendor_profile" ng-model="supplierFormData.doc_attachment.vendor_profile">
                  </td>
                </tr>
                <tr>
                  <td>Other Documents</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="other_doc" ng-model="supplierFormData.doc_attachment.other_doc">
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>

      </form>
    </div>

  </div>
</div>