<div class="container">

  	<div class="row">
  		<button class="btn btn-default" ng-click="openSupplier()">Create Supplier</button>
  	</div>
  	<br/>

	<div class="row">
	  	<table class="table table-bordered">
			<thead>
			  <tr>
			    <th>No.</th>
			    <th>Supplier Name</th>
			    <th>Email</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="suppData in supplierList track by $index">
			    <td>{{$index+1}}</td>
			    <td>{{suppData.supplier_name_address.supplier_name}}</td>
			    <td>{{suppData.contact_person.email}}</td>
			  </tr>
			</tbody>
		</table>
	</div>
</div>


<div ng-include="supplier_Model">
    
</div>