<div class="container">

  	<div class="row">
  		<button class="btn btn-default" ng-click="openSupplier()">Create Supplier</button>
  	</div>
  	<br/>

	<div class="row">
	  	<table class="table table-bordered table-condensed">
			<thead>
			  <tr>
			    <th>No.</th>
			    <th>Supplier Name</th>
			    <th>Email</th>
			    <th>User</th>
			    <th>Date</th>
			    <th>Status</th>
			  </tr>
			</thead>
			<tbody>
			  <tr ng-repeat="suppData in supplierList track by $index">
			    <td>
			    	<span class="text-muted">{{$index+1}}</span>
			    </td>
			    <td>
        			<a href="#" ng-click="openSupplier(suppData)">
			    		<span class="text-muted">{{suppData.supplier_name_address.supplier_name}}</span>
			    	</a>
			    </td>
			    <td>
			    	<span class="text-muted">{{suppData.contact_person.email}}</span>
			    </td>
			    <td>
			    	<p class="text-muted">{{suppData.userName}}</p>
			    </td>
			    <td>
			    	<p class="text-muted">{{suppData.create_date | date:'dd/MM/yyyy' }}</p>
			    </td>
			    <td>
			    	<a href="#" ng-click="openStatusModel('supplier' , suppData)">
			    		<span class="text-danger">{{suppData.sa_status.status}}</span>
			    	</a>
			    </td>

			  </tr>
			</tbody>
		</table>
	</div>
</div>


<div ng-include="supplier_Model">
    
</div>

<div ng-include="status_Model">
    
</div>