<!-- Modal -->
<div id="mySuppModal" class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Supplier</h4>
        <div class="pull-right" ng-if="supplierFormData.sa_status.status == 'pending'">
          <button class="btn btn-default" ng-click="openStatusModel('supplier' , supplierFormData , 'Accept')">Approve</button>
          <button class="btn btn-danger" ng-click="openStatusModel('supplier' , supplierFormData , 'Decline')">Decline</button>
        </div>
        <hr/>
      </div>
      <form name="supplierForm" ng-submit="supplierCreate()" enctype="multipart/form-data">
        <div class="modal-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th colspan="4">Name and Address</th>
                </tr>
                <tr>
                  <td>Name of Supplier</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="supplier_name" ng-model="supplierFormData.supplier_name_address.supplier_name" ng-disabled="isReadOnly" placeholder="Enter Supplier name">
                  </td>
                </tr>
                <tr>
                  <td>Address1</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="address1" ng-model="supplierFormData.supplier_name_address.address1" ng-disabled="isReadOnly" placeholder="Enter Address1">
                  </td>
                </tr>
                <tr>
                  <td>Address2</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="address2" ng-model="supplierFormData.supplier_name_address.address2" ng-disabled="isReadOnly" placeholder="Enter Address2">
                  </td>
                </tr>
                <tr>
                  <td>Address3</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="address3" ng-model="supplierFormData.supplier_name_address.address3" ng-disabled="isReadOnly" placeholder="Enter Address3">
                  </td>
                </tr>
                <tr>
                  <td>Area</td>
                  <td>
                    <input type="text" class="form-control" name="area" ng-model="supplierFormData.supplier_name_address.area" ng-disabled="isReadOnly" placeholder="Enter Area">
                  </td>
                  <td>City</td>
                  <td>
                    <input type="text" class="form-control" name="city" ng-model="supplierFormData.supplier_name_address.city" ng-disabled="isReadOnly" placeholder="Enter City">
                  </td>
                </tr>
                 <tr>
                  <td>District</td>
                  <td>
                    <input type="text" class="form-control" name="district" ng-model="supplierFormData.supplier_name_address.district" ng-disabled="isReadOnly" placeholder="Enter District">
                  </td>
                  <td>State</td>
                  <td>
                    <input type="text" class="form-control" name="state" ng-model="supplierFormData.supplier_name_address.state" ng-disabled="isReadOnly" placeholder="Enter State">
                  </td>
                </tr>
                 <tr>
                  <td>Pin</td>
                  <td>
                    <input type="text" class="form-control" name="pin" ng-model="supplierFormData.supplier_name_address.pin" ng-disabled="isReadOnly" placeholder="Enter Pin">
                  </td>
                  <td>Country</td>
                  <td>
                    <input type="text" class="form-control" name="country" ng-model="supplierFormData.supplier_name_address.country" ng-disabled="isReadOnly" placeholder="Enter Country">
                  </td>
                </tr>
                <tr>
                  <td>Country Code</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="country_code" ng-model="supplierFormData.supplier_name_address.country_code" ng-disabled="isReadOnly" placeholder="Enter Country code">
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th colspan="2">Contact Person</th>
                  <th colspan="2">Statutory Information</th>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>
                    <input type="text" class="form-control" name="contact_person_name" ng-model="supplierFormData.contact_person.name" ng-disabled="isReadOnly" placeholder="Enter Name">
                  </td>
                  <td>PAN</td>
                  <td>
                    <input type="text" class="form-control" name="pan" ng-model="supplierFormData.statutory_information.PAN" ng-disabled="isReadOnly" placeholder="Enter PAN">
                  </td>
                </tr>
                <tr>
                  <td>Cell No</td>
                  <td>
                    <input type="text" class="form-control" name="cell_no" ng-model="supplierFormData.contact_person.cell_no" ng-disabled="isReadOnly" placeholder="Enter Cell number">
                  </td>
                  <td>TAN</td>
                  <td>
                    <input type="text" class="form-control" name="TAN" ng-model="supplierFormData.statutory_information.TAN" ng-disabled="isReadOnly" placeholder="Enter TAN">
                  </td>
                </tr>
                <tr>
                  <td>Land Line No</td>
                  <td>
                    <input type="text" class="form-control" name="landline_no" ng-model="supplierFormData.contact_person.landline_no" ng-disabled="isReadOnly" placeholder="Enter Land Line number">
                  </td>
                  <td>CST</td>
                  <td>
                    <input type="text" class="form-control" name="CST" ng-model="supplierFormData.statutory_information.CST" ng-disabled="isReadOnly" placeholder="Enter CST">
                  </td>
                </tr>
                <tr>
                  <td>E-Mail</td>
                  <td>
                    <input type="text" class="form-control" name="email" ng-model="supplierFormData.contact_person.email" ng-disabled="isReadOnly" placeholder="Enter E-Mail">
                  </td>
                  <td>GST</td>
                  <td>
                    <input type="text" class="form-control" name="GST" ng-model="supplierFormData.statutory_information.GST" ng-disabled="isReadOnly" placeholder="Enter GST">
                  </td>
                </tr>
                <tr>
                  <td>Fax</td>
                  <td>
                    <input type="text" class="form-control" name="fax" ng-model="supplierFormData.contact_person.fax" ng-disabled="isReadOnly" placeholder="Enter FAX">
                  </td>
                  <td>TIN</td>
                  <td>
                    <input type="text" class="form-control" name="TIN" ng-model="supplierFormData.statutory_information.TIN" ng-disabled="isReadOnly" placeholder="Enter TIN">
                  </td>
                </tr>
                <tr>
                  <td>Webiste</td>
                  <td>
                    <input type="text" class="form-control" name="website" ng-model="supplierFormData.contact_person.website" ng-disabled="isReadOnly" placeholder="Enter Webiste">
                  </td>
                  <td>Service Tax No</td>
                  <td>
                    <input type="text" class="form-control" name="service_tax_no" ng-model="supplierFormData.statutory_information.service_tax_no" ng-disabled="isReadOnly" placeholder="Enter Service tax number">
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th colspan="4">Banking Details</th>
                </tr>
                <tr>
                  <td>Name of Bank</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="bank_name" ng-model="supplierFormData.banking_details.bank_name" ng-disabled="isReadOnly" placeholder="Enter Name of bank">
                  </td>
                </tr>
                <tr>
                  <td>Account No</td>
                  <td colspan="3">
                    <input type="text" class="form-control" name="account_No" ng-model="supplierFormData.banking_details.account_No" ng-disabled="isReadOnly" placeholder="Enter Account number">
                  </td>
                </tr>
                <tr>
                  <td>IFSC Code</td>
                  <td>
                    <input type="text" class="form-control" name="IFSC_code" ng-model="supplierFormData.banking_details.IFSC_code" ng-disabled="isReadOnly" placeholder="Enter IFSC code">
                  </td>
                  <td>MICR Code</td>
                  <td>
                    <input type="text" class="form-control" name="MICR_code" ng-model="supplierFormData.banking_details.MICR_code" ng-disabled="isReadOnly" placeholder="Enter MICR code">
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th colspan="4">Vendor Selection</th>
                </tr>
                <tr>
                  <td>Suggested by</td>
                  <td>
                    <input type="text" class="form-control" name="suggested_by" ng-model="supplierFormData.vendor_selection.suggested_by" ng-disabled="isReadOnly" placeholder="Enter Suggested by">
                  </td>
                  <td>Shortlisted by</td>
                  <td>
                    <input type="text" class="form-control" name="shortlisted_by" ng-model="supplierFormData.vendor_selection.shortlisted_by" ng-disabled="isReadOnly" placeholder="Enter Shortlisted by">
                  </td>
                </tr>
                <tr>
                  <td>Division</td>
                  <td>
                    <select ng-options="item as item for item in orgDivision" ng-model="divisonModel" required ng-change="divisonChngUpdate(this, 'supplier')" class="form-control" ng-disabled="isReadOnly">
                      <option value="">--select divison--</option>
                    </select>
                  </td>
                  <td>Selected by</td>
                  <td>
                    <select ng-options="item as (item.firstName +' '+ item.lastName + ', ' + item.role) for item in notifyUser" ng-model="selectedByUser" required ng-change="selectedByChngUpdate(this , 'supplier')" class="form-control" ng-disabled="isReadOnly">
                      <option value="">--select User--</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th>Customer Reference</th>
                  <th>Name</th>
                  <th>Number</th>
                  <th>Opinion</th>
                </tr>
                <tr>
                  <td>Customer References 1</td>
                  <td>
                    <input type="text" class="form-control" name="customer_reference_Name" ng-model="supplierFormData.customer_reference.Name" ng-disabled="isReadOnly" placeholder="Enter Customer References Name">
                  </td>
                  <td>
                    <input type="text" class="form-control" name="customer_reference_Number" ng-model="supplierFormData.customer_reference.Number" ng-disabled="isReadOnly" placeholder="Enter Customer References Number">
                  </td>
                  <td>
                    <input type="text" class="form-control" name="customer_reference_Opinion" ng-model="supplierFormData.customer_reference.Opinion" ng-disabled="isReadOnly" placeholder="Enter Opinion">
                  </td>
                </tr>
                <tr>
                  <td colspan="4"></td>
                </tr>
                <tr>
                  <th colspan="4">Documents to be attached</th>
                </tr>
                <tr>
                  <td>Statutory Registration Certificates</td>
                  <td colspan="3">
                    <input class="form-control" type="file" name="statutory_registration_certificates" onchange="angular.element(this).scope().setFiles(this , 'statutory_registration_certificates')" ng-hide="isReadOnly">
                    <a ng-href="/upload/{% supplierFormData.doc_attachment.statutory_registration_certificates %}" ng-show="isReadOnly" target="_blank">{% supplierFormData.doc_attachment.statutory_registration_certificates %}</a>
                  </td>
                </tr>
                <tr>
                  <td>Agreements if any</td>
                  <td colspan="3">
                    <input class="form-control" type="file" name="agreements" onchange="angular.element(this).scope().setFiles(this , 'agreements')" ng-hide="isReadOnly">
                    <a ng-href="/upload/{% supplierFormData.doc_attachment.agreements %}" ng-show="isReadOnly" target="_blank">{% supplierFormData.doc_attachment.agreements %}</a>
                  </td>
                </tr>
                <tr>
                  <td>Vendor Profile</td>
                  <td colspan="3">
                    <input class="form-control" type="file" name="vendor_profile" onchange="angular.element(this).scope().setFiles(this , 'vendor_profile')" ng-hide="isReadOnly">
                    <a ng-href="/upload/{% supplierFormData.doc_attachment.vendor_profile %}" ng-show="isReadOnly" target="_blank">{% supplierFormData.doc_attachment.vendor_profile %}</a>
                  </td>
                </tr>
                <tr>
                  <td>Other Documents</td>
                  <td colspan="3">
                    <input class="form-control" type="file" name="other_doc" onchange="angular.element(this).scope().setFiles(this , 'other_doc')" ng-hide="isReadOnly">
                    <a ng-href="/upload/{% supplierFormData.doc_attachment.other_doc %}" ng-show="isReadOnly" target="_blank">{% supplierFormData.doc_attachment.other_doc %}</a>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" ng-hide="isReadOnly">Submit</button>
        </div>

      </form>
    </div>

  </div>
</div>