<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Spartapps</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">Welcome</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ userName }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/app-admin" target="_new">Admin</a></li>
            <li><a href="/dashboard/logout">Logout</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">notifications</i>
            <span class="notification" ng-bind="notifications.length"></span>
            <p class="hidden-lg hidden-md">Notifications</p>
          <div class="ripple-container"></div></a>
          <ul class="dropdown-menu">
            <li ng-repeat="nots in notifications"><a href="#" ng-bind="nots.title" ng-click="openNotification( nots )"></a></li>
          </ul>
        </li>
        <li ng-class="{ 'active': dashBody.indexOf('invoice') > -1 }"><a href="#" ng-click="changeDashBody('invoice')">Payment Intimation</a></li>
        <li ng-class="{ 'active': dashBody.indexOf('supplier') > -1 }"><a href="#" ng-click="changeDashBody('supplier')">PO</a></li>
      </ul>
      
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>